@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap');

:root {
    --azul_background: rgba(26,161,240,255);
    --azul_click: rgba(50,190,240,255);
    --azul_letra_pequeña: rgba(56,161,241,255);
    --rojo_apartado_info: rgba(220,20,60,255);
    --gris_apartado_result: rgba(186,186,186,255);
    --amarillo_apartado_result: rgba(237, 233, 100,255);
    --verde_apartado_result: rgba(85, 176, 67,255);
}
  
#titulo {
    color: blue;
    font-family: 'Courier Prime', monospace;
    font-size: 50px;
    text-align: center;
}

/* Section 1, numeros ya adibinados*/
#numerosAdivinados {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 13px;
    overflow: hidden;
}

.numerosAdivinado {
    flex-shrink: 0;
    margin-top: 20px;
    width: 110px;
    height: 110px;
    background-color: var(--azul_background);
    border-radius: 12px;
}
.numerosAdivinado p {
    text-align: center;
    font-size: 50px;
    margin: 25%;
}


/* Section 2, donde el usuario interactuara con el usuario*/

#comprobar {
    border: 2px solid var(--azul_background);
    border-radius: 7px;
    width: 600px;
    margin: auto;
    margin-top: 40px;
}

#form_input {
    width: 93%;
    margin: 20px auto;
}

#titulo_2 {
    color: var(--azul_letra_pequeña);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

#input {
    border: none;
    border-bottom: 3px solid var(--azul_background);
    border-radius: 5px 5px 0 0;
    margin: auto;
    width: 95%;
    height: 50px;
    outline: none;
    font-size: 30px;
    font-weight: 300;
    padding: 0 15px;
    margin-bottom: 30px;
}
#input:hover , #input:focus {
    background-color: rgba(139, 132, 132, 0.452);
}

#buttonComprobar {
    margin: auto;
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    background-color: var(--azul_background);
    font-size: 35px;
    color: white;

}

#buttonComprobar:active {
    background-color: var(--azul_click);
}

#active {
    visibility: hidden;
    position: absolute;
}

/* Mensage que le daremos al usuario (apartado INFO)*/

#mensaje {
    margin: auto;
    margin-top: 30px;
    width: 600px;
    height: 55px;
    padding: 0 0 0 20px;
    background-color: var(--rojo_apartado_info);
    color: white;
    border-radius: 6px;
    display: flex;
}
#mensaje > p {
    margin: auto 0;
    font-size: 20px;
}


/* Section 3 , Apartado del RESULT, donde el usuario podra ver los numero que ponen */

.article_result {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 13px 13px;
    overflow: hidden;
}

.div_result {
    flex-shrink: 0;
    margin-top: 20px;
    width: 110px;
    height: 110px;
    background-color: var(--gris_apartado_result);
    border-radius: 12px;
}

.div_result p {
    text-align: center;
    font-size: 50px;
    margin: 25%;
}